* {
    box-sizing: border-box;
}
h1 ,h2, h3, h4, h5, p, a {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
}
p {
    font-size: 16px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 12px;
    font-style: italic;
}
h5 {
    font-size: 24px;
    color: #A16040;
}
a {
    color: red;
    font-style: italic;
}
.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.section-img {
    width: 600px;
    height: 300px;
    object-fit: cover; 
}
.wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
